<?xml version="1.0"?>
<robot name="hexapod" xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- ********* -->
  <!-- Materials -->
  <!-- ********* -->
  <material name="frame">
    <color rgba="1.0 0.6 0.0 1" />
  </material>
  <material name="feet">
    <color rgba="0.33 0.45 1.0 1" />
  </material>

  <!-- ********** -->
  <!-- Parameters -->
  <!-- ********** -->
  <xacro:arg name="servo_velocity_limit" default="5.6" />
  <xacro:arg name="servo_effort_limit" default="4.25" />
  <xacro:arg name="servo_static_friction" default="0.3" />
  <xacro:arg name="servo_damping_friction" default="0.1" />
  <xacro:arg name="servo_p_gain" default="17.8" />

  <xacro:property name="leg_spreading_angle" value="1.0472" />
  <xacro:property name="leg_a_length" value="0.04375" />
  <xacro:property name="leg_b_length" value="0.100" />
  <xacro:property name="leg_c_length" value="0.150" />

  <xacro:property name="servo_velocity_limit" value="$(arg servo_velocity_limit)" />
  <xacro:property name="servo_effort_limit" value="$(arg servo_effort_limit)" />
  <xacro:property name="servo_static_friction" value="$(arg servo_static_friction)" />
  <xacro:property name="servo_damping_friction" value="$(arg servo_damping_friction)" />
  <xacro:property name="servo_p_gain" value="$(arg servo_p_gain)" />

  <xacro:property name="joint_a_limit_lower" value="-1.5708" />
  <xacro:property name="joint_a_limit_upper" value="1.5708" />

  <xacro:property name="joint_b_limit_lower" value="-1.309" />
  <xacro:property name="joint_b_limit_upper" value="2.00713" />

  <xacro:property name="joint_c_limit_lower" value="-2.0944" />
  <xacro:property name="joint_c_limit_upper" value="2.35619" />


</robot>
